<div class="row full-height">
	<div class="col-sm-12">
		<div class="margin-top-10"></div>

		<div class="w3-container w3-padding-16 w3-light-grey">
			<h2 class="w3-center text-primary letter-spacing-2">
				<u>Cancel Admission by Current Year</u>
			</h2>
		</div>

		<div class="margin-top-bottom-30"></div>

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
			
				<div class="well well-lg">
					<h4 class="no-margin"><kbd>{{pyear}} - {{year}}</kbd></h4>
					<div class="w3-responsive">
						<table class="w3-table w3-bordered w3-centered">
							<thead>
								<tr class="w3-theme-l2">
									<th>Seq. No.</th>
									<th>Name</th>
									<th>Course</th>
									<th>Semester</th>
									<th>Date</th>
									<th>Phone</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="x in students track by $index">
									<td>{{$index+1}}</td>
									<td>{{x.name}}</td>
									<td>{{x.courseid}}</td>
									<td>{{x.sem}}</td>
									<td>{{x.cancelDate}}</td>
									<td>{{x.fphone}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>