<div class="container">

	<div class="w3-center">
		<p class="header w3-text-deep-orange">T. N. Rao College - Rajkot</p>
	</div>

	<div class="w3-center">
		<p class="sub_header w3-text-indigo">Managed by : Savyasachi Education Trust</p>
	</div>

	<div class="margin-top-bottom-20"></div>

	<div class="w3-center">
		<span class="round_border">Bonafide Certificate</span>
	</div>

	<div class="margin-top-bottom-20"></div>

	<div class="w3-center info">
		<span class="w3-text-indigo">This is to certify that Mr./Miss <label class="bold-Label">{{student.name}}</label> is a bonafide student of our college. He/She is the student of   <label class="bold-Label"> {{student.courseid}}</label> of this academic year <label class="bold-Label"> {{year}} - {{nextyear}} </label>. His/Her G.R.No. is <label class="bold-Label"> {{student.grno}}</label></br> To the best of my knowledge he/she bears a good moral character.</span>
	</div>
	
	<div class="margin-top-bottom-40"></div>

	<div>
		<span class="margin-left-50 w3-left  w3-text-indigo">Date : {{date | date:'yyyy-MM-dd'}}</span>
		<span class="margin-right-50 w3-right  w3-text-indigo">Principal</span>
	</div>

</div>
