<div class="row full-height">
  <div class="col-md-12 col-xs-12 col-sm-12">

    <div class="w3-container w3-padding-16 w3-light-grey">
      <h2 class="w3-center text-primary letter-spacing-2" ><u>Cancel Admission</u></h2>
    </div>

    <div class="margin-top-bottom-30"></div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="well well-lg">
          <fieldset>
            <legend class="font-monospace">Student Information </legend>
            <div class="col-sm-12 form-group">
              <label class="control-label"> Select Course : </label>
              <select class="form-control" ng-model="x['course']" required ng-options="courses.courseid for courses in courses" ng-change="getStudentsByCourse(x['course'])">
                <option value="" selected disabled> Select Course </option>
              </select>
            </div> 

            <div class="col-sm-12 form-group" ng-show="students">
              <label class="control-label">G.R.No/Name :</label>
              <auto-complete-textbox  class="col-md-12 col-xs-12 no-padding"
              placeholdertext="Search by G.R.No/Name"
              array='students'
              output="student"
              search="searchArray"
              display="showArray"
              callback="getStudentRecord()" >
            </auto-complete-textbox>
          </div>
        </fieldset>
      </div>

      <div class="well well-lg" ng-show="student"> 
        <form id="addStudent" ng-submit="cancelStudent(student)">
          <div class="row margin-top-10">
            <div class="col-md-12 col-xs-12">

              <div class="w3-center">
                <h3 class="text-primary"><u>Student Information</u></h3>
              </div>


              <div class="col-md-12 col-xs-12">
                <div class="col-md-12">
                  <ul class="list-group ">
                    <li class="w3-padding list-group-item"><b>  Name :  </b><span class="text-capitalize">{{student.name}}</span></li>
                    <li class="w3-padding list-group-item"><b>  Course :</b> {{student.courseid}}</li>
                    <li class="w3-padding list-group-item"><b>  G.R.NO :</b> {{student.grno}}</li>
                    <li class="w3-padding list-group-item"><b>  Semester : </b> Sem-{{student.sem}}</li>                  
                    <li class="w3-padding list-group-item"><b>  Enrollment Number : </b>{{student.enrollment}}</li>
                  </ul>

                  <div class="col-sm-12 form-group">
                    <label class="control-label">Reason For Change : </label>
                    <input class="form-control" ng-model ="student['reason']" required type="text" placeholder="Enter the reason for cancelling the Admission">
                  </div>

                  <div class="col-sm-12 form-group">
                    <label class="control-label">Transfering to College : </label>
                    <input class="form-control" ng-model ="student['college']" required type="text" placeholder="Enter College Name">
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-12 text-center margin-bottom-20">
              <button class="btn btn-danger btn-md" type="submit"> Cancel Admission</button>
            </div>
            <div class="col-md-10 col-md-offset-1">
              <div class="alert alert-studentRemoved w3-custom-blue w3-text-white fade in">
                <span><strong>Success!</strong> Admission has been Canceled!</span>
                <a class="close-blue-alert w3-right" aria-label="close">&times;</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>


$(document).ready(function(){

  $('.close-blue-alert').click(function() {

    $('.w3-custom-blue').hide();
  })
  $('.close-red-alert').click(function() {

    $('.w3-custom-red').hide();
  })
  
});
</script>

<style>
input[type='file'] {
  color: transparent;
}
</style>
