<div class="row full-height">
	<div class="col-sm-12">
		<div class="margin-top-10"></div>

		<div class="w3-container w3-padding-16 w3-light-grey">
			<h2 class="w3-center text-primary letter-spacing-2">
				<u>Student Inquiry</u>
			</h2>
		</div>
		<div class="margin-top-bottom-30"></div>
		
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<form ng-submit="addInquiry(x)">
					<div class="well well-lg">
						<div class="col-sm-4 form-group">
							<label class="control-label">First Name : </label>
							<input type="text" class="form-control" ng-model="x.fname" placeholder="Enter your First Name" required>
						</div>

						<div class="col-sm-4 form-group">
							<label class="control-label">Middle Name : </label>
							<input type="text" class="form-control" ng-model="x.mname" placeholder="Enter your Middle Name" required>
						</div>

						<div class="col-sm-4 form-group">
							<label class="control-label">Last Name : </label>
							<input type="text" class="form-control" ng-model="x.lname" placeholder="Enter your Last Name" required>
						</div>

						<div class="col-sm-12 form-group">
							<label class="control-label">Course : </label>
							<select class="form-control" ng-model="x['courseid']" required ng-change="getStudentsByCourse(x['courseid'])">
                  				<option value="" selected disabled> Select Course </option>
                  				<option ng-repeat="y in courses track by $index" ng-value="y.courseid">{{y.courseid}}</option>
                			</select>
						</div>

						<div class="col-sm-6 form-group">
							<label class="control-label"> City : </label>
							<input type="text" class="form-control" ng-model="x.city" placeholder="Enter your City" required>
						</div>

						<div class="col-sm-6 form-group">
							<label class="control-label"> Phone : </label>
							<input type="number" class="form-control" ng-model="x.phone" placeholder="Enter your Phone Number" required>
						</div>

						<div class="col-sm-12 form-group">
							<label class="control-label"> School/College :  </label>
							<input type="text" class="form-control" ng-model="x.school" placeholder="Enter your previous School/College" required>
						</div>

						<div class="col-sm-6 form-group">
							<label class="control-label"> Result (%) :  </label>
							<input type="number" class="form-control" ng-model="x.result" placeholder="Enter your Result (in percentage)" required>
						</div>

						<div class="col-sm-6 form-group">
							<label class="control-label"> Category : </label>
							<select class="form-control" ng-model="x.category" required>
								<option value="" disabled>Select Category</option>
								<option value="open">OPEN</option>
								<option value="obc">O.B.C</option>
								<option value="sc">S.C.</option>
								<option value="st">S.T.</option>
							</select>
						</div>

						<div class="w3-center">
							<button type="submit" class="btn btn-success">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>