<style>
table{
	font-size: 18px;
	font-family: "Times New Roman", Georgia, Serif;
}

td{
	padding: 12px;
}

.margin-left{
	margin-left: 10px;
}
</style>
<table class="table_fees" cellpadding="10">
	<tr>
		<td><b>Receipt No : </b>1011</td>
		<td><b>Year : </b>2016-2017</td>
		<td><b>Date :</b>05/08/2016</td>
	</tr>

	<tr>
		<td colspan="2"><b>Name : </b>Krunal Suva Pannu</td>
		<td><b>Course :</b>B.E.</td>
	</tr>

	<tr class="border_row">
		<td colspan="2"><b>Particular</b></td>
		<td><b>Amount</b></td>
	</tr>

	<tr><td colspan="2" style="padding:2px"><div class="margin-left">TUITION FEES</div></td><td style="padding:2px;"><div class="margin-left">17000.00</div></td></tr>
	<tr><td colspan="2" style="padding:2px"><div class="margin-left">SAU. UNI. EXAM FEES</div></td><td style="padding:2px;"><div class="margin-left">510.00</div></td></tr>
	<tr><td colspan="2" style="padding:2px"><div class="margin-left">SAU. UNI. DEV. & SPORTS FEES</div></td><td style="padding:2px;"><div class="margin-left">110.00</div></td></tr>
	<tr><td colspan="2" style="padding:2px"><div class="margin-left">SAU. UNI. ENLISTMENT FEES</div></td><td style="padding:2px;"><div class="margin-left">100.00</div></td></tr>
	<tr><td colspan="2" style="padding:2px"><div class="margin-left">I CARD & MISC. FEES</div></td><td style="padding:2px;"><div class="margin-left">80.00</div></td></tr>
	<tr><td colspan="2" style="padding:2px"><div class="margin-left">LIB. COM. & INFRA. MAIN. FEES</div></td><td style="padding:2px;"><div class="margin-left">500.00</div></td></tr>


	<tr class="border_row">
		<td colspan="2"><b>Total : <b></td>
		<td><b>Rs.</b> 18300.00</td>
	</tr>

	<tr>
		<td colspan="3"><b>DD/Cheque No : </b></td>
	</tr>
	
	<tr>
		<td colspan="3"><b>Bank Name :</b></td>
	</tr>

	<tr>
		<td colspan="2"><b>Amount in Word :</b></td>
		<td><b>Signature</b></td>
	</tr>

</table>

<p>*Cheque/Draft (Subject to realisation) *This payment is not refundable.</p>
<p>*If you leave the college in the midst of year, you will have to pay the fee for the year.</p>
