<div class="row full-height">
  <div class="col-md-12 col-xs-12 col-sm-12">
    <div class="w3-padding-16 w3-container w3-light-grey">
      <h2 class="w3-center text-primary letter-spacing-2 tahoma"> <u> Payment Details  {{pyear}} <span ng-hide="nyear">-</span> {{year}} <span ng-hide="pyear">-</span> {{nyear}}   <span ng-show="selectedSem">of {{courseid| uppercase}} Sem - {{selectedSem}} </span></u></h2>

      <div class="row print_hide">

        <div class="col-md-6 col-md-offset-3 margin-top-10">
          <select class="form-control" ng-model="x['course']" required ng-options="courses.courseid for courses in courses" ng-change="getSem(x['course'])">
            <option value="" selected disabled>Select course</option>
          </select>
          <select class="form-control margin-top-10"  ng-show="semester" ng-model="selectedSem" ng-change = "getPaymentDetails(selectedSem)" >
            <option value="" selected disabled>Select Semester</option>
            <option ng-repeat="x in semester" value="{{x}}">{{x}}</option>
          </select>


        </div>
      </div>
      
      <div class="w3-responsive margin-top-20">
        <table class="w3-table w3-bordered w3-centered" ng-show="pDetails">
          <tr class="w3-theme-l4">
            <th>Seq. No</th>

            <th ng-click = "ol = 'name' ">Name</th>

            <th ng-click = "ol = 'grno' ">G.R.No</th>
            <th>Paid Fees</th>
            <th>Pending Fees</th>
            <th>Pay Mode</th>
            <th>DD/Cheque No</th>
            <th>Bank name</th>
            <th>Date</th>

          </tr>
          <tr ng-repeat='x in pDetails'>
            <td>{{$index+1}}
            </td>
            <td>{{x.name.name}}</td>
            <td>{{x.grno.grno}}</td>
            <td >{{x.paid_fees}}</td>
            <td>{{x.pending_fees}}</td>
            <td>{{x.payMode}}</td>
            <td>{{x.ddOrC_Nub}}</td>
            <td>{{x.bankName}}</td>
            <td>{{x.date}}</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-md-4 col-md-offset-4 w3-center print_hide margin-top-bottom-20" ng-show="pDetails">
      <button class="btn btn-primary btn-lg" onclick="printRecord()">Print Record</button>
    </div>
  </div>
</div>
